
@{
    ViewBag.Title = "حدث خطأ!";
}

    <div class="text-center text-danger my-5">
        <h1>عفواً لقد حدث خطأ ما أو الصفحه التي تبحث عنها غير موجوده</h1>
        <a href="javascript:history.back()" class="btn btn-primary mt-3"><span class="h5">العوده للصفحه السابقه</span></a>
    </div>