@model Bsa2er_MVC.Models.news


        <div class="modal-header">
            <h5 class="modal-title text-center col-12 " id="exampleModalLabel" style="text-align: center;">@Model.title</h5>
        </div>
        <div class="modal-body">
            @Model.body
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
        </div>
