
@{
    ViewBag.Title = "المكتبة";
}
<div class="lib-box">
    <h1 class="text-center m-4">المكتبة</h1>
    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/1.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم الحديث</span> </button>
            </div>
        </div>          
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a"> 
                    <img src="~/images/library/2.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم الفقه</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/3.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم التفسير</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/4.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم التربية والتنمية</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/5.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم اللغة العربية</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/6.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم السيرة النبوية</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/8.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم العقيدة</span> </button>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light cardcolr">
                <div class="img-a">
                    <img src="~/images/library/7.jpeg">
                </div>
                <button class="btn btn-primary card-title "><span class="mb-5">تصفح قسم الثقافة العامة</span> </button>
            </div>
        </div>
    </div>
</div>

