@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1 class="text-center">تاكيد تغيير كلمة السر</h1>
</hgroup>
<div>
    <p class="text-center">
        @Html.ActionLink("اضغط لتسجل الدخول مرة اخري", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })   تم تغيير كبمة السر الخاصة بك
    </p>
</div>
