@model Bsa2er_MVC.Models.Book

@{
    ViewBag.Title = "Delete";
}

<div class="text-center">

    <h3>هل تريد حذف هذا الكتاب</h3>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-primary" />
            @Html.ActionLink("الرجوع الي القائمة", "Index",null,new {@class="btn btn-primary"})
        </div>
    }
</div>
