
@{
    Layout = null;
    ViewBag.Title = "your certification";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<style>
    .wrapper2 {
        background-image: url(~/images/);
        width: 710px;
        height: 470px;
    }

    .certiname {
        margin-left: 240px;
        padding-top: 45px;
        font-size: larger;
    }

    .certitext {
        padding-top: 100px;
        padding-right: 100px;
        text-align: right;
    }

    .certiuser {
        margin-left: 300px;
        margin-top: 85px;
        font-weight: bolder;
        color: blue;
    }

    .certiname2 {
        margin-left: 383px;
        margin-top: 5px;
        font-weight: bolder;
        color: red;
    }
</style>

<body>
    <div class="wrapper2 container">
        <div class="wrapper2 container">
            <div class="certiname">
@ViewBag.programName
            </div>
            <div class="certiuser">
@ViewBag.studentName
            </div>
            <div class="certiname2">
@ViewBag.programName          
            </div>
        </div>
    </div>
</body>
</html>




