@{
    ViewBag.Title = "عن الاكاديمية";
}
<div class="row container-fluid">
    <iframe class=" col-lg-4" width="60%" height="250" style="margin-top: 5%;margin-left: 8%;" src="https://www.youtube.com/embed/GBV3wshEpvM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="col-lg-7 my-5 pr-5" style="text-align:right;direction: rtl;">
        <h3>عن الاكاديمية</h3>
        <p>أكاديمية قائمة على بث العلم الشرعي النافع للمسلم والمسلمة</p>
        <h3>رؤية ورسالة الأكاديمية</h3>
        <p>الريادة في تعليم العلوم الشرعية وفق برامج ومناهج تأصيلية</p>
        <h3>أهداف الأكاديمية</h3>
        <ul>
            <li>تقريب العباد من ربهم</li>
            <li>رفع الجهل عن عامة المسلمين في أحكام الشريعة العينية</li>
            <li>بيان وتوضيح منهج خير القرون والسير على هداهم</li>
            <li>توفير برامج ودورات علمية مؤصلة لجميع مستويات طلاب وطالبات العلم</li>
        </ul>
    </div>
</div>
