@model IEnumerable<Bsa2er_MVC.Models.Gallery>
@{
    ViewBag.Title = "Gallery";
}
<div class="gallery-box">
    <h1 class="h1 text-center m-4">البوم الصور</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="img-d">
                    <img src="~/images/Gallery/@item.Gallery_path" width="150" height="150">
                </div>
            </div>
        }

    </div>
    @*<div class="addImg p-3">
        <label for="imgAdd" class="">إضافة صورة جديدة</label>
        <input type="file" id="imgAdd">
        <input type="button" value="رفع الصورة" class="btn btn-info">
    </div>*@
</div>

