@model IEnumerable<Bsa2er_MVC.Models.news>
@{
    ViewBag.Title = "الأخبار";
}

<div class="tracks-box">
    <h1 class="text-center m-4">الاخبار</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card bg-info text-light">
                    <div class="img-c">
                        <img width="150" height="150" src="~/images/News/@item.ImagePath">
                    </div>
                    <div class="card-title"> <h5>@item.title</h5></div>
                    <div class="card-body">
                       
                        <p class="card-text"> @item.body.Substring(0, 20) .....</p>
                        
                        @Ajax.ActionLink("قراءة المزيد","NewsDetails","News",new {id=item.id },new AjaxOptions() 
                      {
                       InsertionMode=InsertionMode.Replace,
                       UpdateTargetId= "modalBody"
                      }
                       ,new {@class= "btn btn-primary", data_toggle = "modal", data_target = "#dnews" })
                    </div>
                </div>
            </div>
        }

        @* <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card bg-info text-light">
                    <div class="img-c">
                        <img src="https://via.placeholder.com/150">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">عنوان الخبر</h5>
                        <p class="card-text">تفاصيل الخبر</p>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<div class="modal fade" id="dnews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="modalBody">
            <div class="modal-header">
                <h5 class="modal-title text-center col-12 " id="exampleModalLabel" style="text-align: center;"></h5>
            </div>
            <div class="modal-body">
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>


