
@{
    ViewBag.Title = "الأخبار";
}

<div class="tracks-box">
    <h1 class="text-center m-4">الاخبار</h1>

    <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
            <div class="card bg-info text-light">
                <div class="img-c">
                    <img src="https://via.placeholder.com/150">
                </div>
                <div class="card-body">
                    <h5 class="card-title">عنوان الخبر</h5>
                    <p class="card-text">تفاصيل الخبر</p>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#dnews">قراءة المزيد</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dnews" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center col-12 " id="exampleModalLabel" style="text-align: center;">عنوان الخبر</h5>
            </div>
            <div class="modal-body">
                تفاصيل اكثر   وتفاصيل اكثر تفاصيل اكثر تفاصيل اكثر تفاصيل اكثر تفاصيل اكثر تفاصيل اكثر
                تفاصيل اكثر تفاصيل اكثر تفاصيل اكثر
                تفاصيل اكثر تفاصيل اكثر تفاصيل اكثر
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

