@model IEnumerable<Bsa2er_MVC.Models.Program>
@{
    ViewBag.Title = "البرامج العلمية";
}
<div class="tracks-box">
    <h1 class="text-center m-4">البرامج العلمية</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                <div class="card bg-info text-light">
                    <div class="img-c">
                        <img src="@item.Program_MainImage">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Program_Title</h5>
                        <p class="card-text">@item.Program_Body</p>
                        <a href="/Home/Prog/@item.ProgramId" class="btn btn-dark">تفاصيل البرنامج</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

