@model IEnumerable<Bsa2er_MVC.Models.Program>
@{
    ViewBag.Title = "البرامج العامة";
}
    <div class="tracks-box">
      <h1 class="text-center m-4">البرامج العامة</h1>
      <div class="row">
          @foreach (var item in Model)
          {
              <div class="col-md-6 col-lg-4 col-xl-3 p-2">
                  <div class="card bg-info text-light">
                      <div class="img-c">
                          <img src="@item.Program_MainImage">
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">@item.Program_Title</h5>
                          <p class="card-text">@item.Program_Body</p>
                          @Html.ActionLink("تفاصيل البرنامج", "Program", "Home", new { id = item.ProgramId }, new { @class = "btn btn-warning" });
                      </div>
                  </div>
              </div>
          }
      </div>
 </div>

