
@{
    ViewBag.Title = "Track";
}
<div class="container">
    <div class="imgContainer mt-5">
        <img src="./images/ibra.jpg">
    </div>
    <table class="table  table-bordered table-hover mt-5 mb-5 tracktb">
        <tbody>
            <tr>
                <td> الفئة المستهدفة</td>
                <td>طلاب وطالبات الأكاديمية</td>

            </tr>
            <tr>
                <td>اسم المعلم</td>
                <td>حمادة بيه</td>
            </tr>
            <tr>
                <td>محدد الدروس</td>
                <td></td>
            </tr>
            <tr>
                <td>مدة الدورة  </td>
                <td>30 ساعة</td>
            </tr>
            <tr>
                <td>طريقة الدراسة</td>
                <td>اون لاين</td>
            </tr>
            <tr>
                <td>أهداف الدورة  </td>
                <td>
                    <ol>
                        <li>تخريج طالب بلااااااااااااااااا</li>
                        <li>معرفة بلااااااااااااااااااااااااااا</li>
                        <li>الوصول لدرجة من البلااااااااااااااااااااا</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>مميزات الدورة  </td>
                <td>
                    <ol>
                        <li>دورة جميلة بلااااااااااااااااا</li>
                        <li>متميزة بلااااااااااااااااااااااااااا</li>
                        <li>احسن دورة فى العالم البلااااااااااااااااااااا</li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="inputDiv mb-5">
        <input value="سجل الان" type="button" class="btn btn-info w-50 ">
    </div>
</div>

