@model Bsa2er_MVC.Models.Gallery

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center mb-3" dir="rtl">حذف الخبر</h2>

<h3 class="text-right mr-3" dir="rtl">هل انت متأكد تريد حذف هذه الصورة؟</h3>
<div class=" justify-content-between text-right mr-3" dir="rtl" style="min-height:200px;">
    <dl class="dl-horizontal">
        <dt>
            <lable id="img">الصورة </lable>
        </dt>

        <dd>
            <img height="150" width="150" id="img" src="~/images/Gallery/@Model.Gallery_path" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-primary" /> 
            @Html.ActionLink("to DashBoard", "DashBoardPage","DashBoard",null, new { @class = "float-left" })
        </div>
    }
</div>
