@{
    ViewBag.Title = "Confirm Email";
}

<h2 class="text-center mt-5">تاكيد بريدك الالكتروني</h2>
<div>
    <p class="text-center mt-5">
        @Html.ActionLink("اضغط هنا لسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-success" })        شكرا لك لتاكيد بريدك الالكتروني

    </p>
</div>
